* {
	margin: 0;
	padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #2d4f8e, #7a68dd);
}
.word{
    color: #ffffff;
}
